{% extends "::administrador.html.twig" %}
{% block title %}FundeuisUsuariosBundle:Administrar:Crear{% endblock %}
{% block titulo %}
    <h1>Administrar Usuarios: <small>Crear estudiante</small></h1>
{% endblock %}
{% block submenuizquierdo %}
{% endblock %}
{% block submenuderecho %}
{% endblock %}
{% block contenido %}
    <form style="width: 800px;" role="form" class="form-horizontal center-block" action="{{ path('fundeuis_usuarios_crearestudiantepreicfes', {'id':id}) }}" method="post" {{ form_enctype(formEstudiantePreIcfes) }} >


        {{ form_errors(formEstudiantePreIcfes) }}
        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.nombresacudiente, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.nombresacudiente) }}                
                {{ form_widget(formEstudiantePreIcfes.nombresacudiente) }}
            </div>
        </div> 
        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.apellidosacudiente, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.apellidosacudiente) }}                
                {{ form_widget(formEstudiantePreIcfes.apellidosacudiente) }}
            </div>
        </div> 

        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.telefonofijoacudiente, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.telefonofijoacudiente) }}                
                {{ form_widget(formEstudiantePreIcfes.telefonofijoacudiente) }}
            </div>
        </div> 

        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.telefonocelularacudiente, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.telefonocelularacudiente) }}                
                {{ form_widget(formEstudiantePreIcfes.telefonocelularacudiente) }}
            </div>
        </div> 
        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.archivo, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.archivo) }}                
                {{ form_widget(formEstudiantePreIcfes.archivo) }}
            </div>
        </div> 
        <div class="form-group">
            {{ form_label(formEstudiantePreIcfes.conocimientocursos, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}            
            <div class="col-sm-8">
                {{ form_errors(formEstudiantePreIcfes.conocimientocursos) }}                
                {{ form_widget(formEstudiantePreIcfes.conocimientocursos) }}
            </div>
        </div> 
        <label>Colegio del que egresó</label>
        <div class="form-group">
            <label class="col-sm-3 control-label">Departamento:</label>
            <div class="col-sm-8">
                <select id="departamentoColegio" name="departamentoColegio" class="form-control">
                    <option value="">SELECCIONAR</option>                   
                    {% for departamento in departamentos %}
                        <option value="{{departamento.iddepartamento}}">{{departamento.nombre}}</option>
                    {% endfor %}
                </select>
                <p class="help-block">Seleccione el departamento al que pertenece el colegio. </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Ciudad:</label>
            <div class="col-sm-8">
                <div id="respuestaCiudadColegio">

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Colegio:</label>
            <div class="col-sm-8">
                <div id="respuestaColegio">

                </div>
            </div>
        </div>
        <label>Universidad a la que aspira ingresar</label>
        <div class="form-group">
            <label class="col-sm-3 control-label">Departamento:</label>
            <div class="col-sm-8">
                <select id="departamentoUniversidad" name="departamentoUniversidad" class="form-control">
                    <option value="">SELECCIONAR</option>                   
                    {% for departamento in departamentos %}
                        <option value="{{departamento.iddepartamento}}">{{departamento.nombre}}</option>
                    {% endfor %}
                </select>
                <p class="help-block">Seleccione el departamento al que pertenece la universidad. </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Ciudad:</label>
            <div class="col-sm-8">
                <div id="respuestaCiudadUniversidad">

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Universidad:</label>
            <div class="col-sm-8">
                <div id="respuestaUniversidad">

                </div>
            </div>
        </div>
        {{ form_rest(formEstudiantePreIcfes) }}
        <div style="text-align: right">
            <button type="submit" class="btn btn-primary btn-lg"  >
                <span class="glyphicon glyphicon-save"></span> Guardar</button>
                {#
            <button type="submit" class="btn btn-default btn-lg"  >
                <span class="glyphicon glyphicon-log-out"></span> Salir</button> 
                #}
        </div>
    </form>
    <br>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        var x;
        x = $(document);
        x.ready(inicializarEventos);

        function inicializarEventos() {

            var slDepartamentoCiudad;
            slDepartamentoCiudad = $('#departamentoCiudad');
            slDepartamentoCiudad.change(buscarCiudadDepartamento);

            var slDepartamentoColegio;
            slDepartamentoColegio = $('#departamentoColegio');
            slDepartamentoColegio.change(buscarCiudadColegio);

            var slCiudadColegio;
            slCiudadColegio = $('#ciudadColegio');
            slCiudadColegio.change(buscarColegio);

            var slDepartamentoUniversidad;
            slDepartamentoUniversidad = $('#departamentoUniversidad');
            slDepartamentoUniversidad.change(buscarCiudadUniversidad);

            var slCiudadUniversidad;
            slCiudadUniversidad = $('#ciudadUniversidad');
            slCiudadUniversidad.change(buscarUniversidad);


        }
        {# 
            Buscar la ciudad de origen a partir del departamento seleccionado 
        #}
            function buscarCiudadDepartamento() {

                var slDepartamentoCiudad;
                slDepartamentoCiudad = $('#departamentoCiudad').val();
                var url;
                url = "{{ path('fundeuis_frontal_busquedaGlobal_buscarciudad', {'departamento': 'text', 'funcion':'listaCiudad'}) }}";
                url = url.replace("text", slDepartamentoCiudad);

                $('#respuestaDepartamentoCiudad').load(url);

            }

        {# 
           Buscar la ciudad donde se encuentra el colegio del que se egreso. Se busca a partir del departamento
        #}

            function buscarCiudadColegio() {
                var slDepartamentoColegio;
                slDepartamentoColegio = $('#departamentoColegio').val();
                var url;
                url = "{{ path('fundeuis_frontal_busquedaGlobal_buscarciudad', {'departamento': 'text', 'funcion':'ciudadColegio'}) }}";
                url = url.replace("text", slDepartamentoColegio);
                $('#respuestaCiudadColegio').load(url);
                setTimeout(function() {
                    recargarEventos()
                }, 2000);

            }

            function recargarEventos() {
                x = $(document);
                x.ready(inicializarEventos);
            }

        {#
            Buscar el colegio del cual se egreso a partir de la ciudad.
        #}
            function buscarColegio() {

                var slCiudadColegio;
                slCiudadColegio = $('#ciudadColegio').val();

                var url;
                url = "{{ path('fundeuis_frontal_busquedaGlobal__buscarcolegio', {'ciudad': 'text'}) }}";
                url = url.replace("text", slCiudadColegio);

                $('#respuestaColegio').load(url);
            }


            /*
             * 
             * 
             */
        {# 
     Buscar la ciudad donde se encuentra el colegio del que se egreso. Se busca a partir del departamento
  #}

      function buscarCiudadUniversidad() {
          var slDepartamentoUniversidad;
          slDepartamentoUniversidad = $('#departamentoUniversidad').val();
          var url;
          url = "{{ path('fundeuis_frontal_busquedaGlobal_buscarciudad', {'departamento': 'text', 'funcion':'ciudadUniversidad'}) }}";
          url = url.replace("text", slDepartamentoUniversidad);
          $('#respuestaCiudadUniversidad').load(url);
          setTimeout(function() {
              recargarEventos()
          }, 2000);

      }


        {#
            Buscar el colegio del cual se egreso a partir de la ciudad.
        #}
            function buscarUniversidad() {

                var slCiudadUniversidad;
                slCiudadUniversidad = $('#ciudadUniversidad').val();

                var url;
                url = "{{ path('fundeuis_frontal_busquedaGlobal__buscaruniversidad', {'ciudad': 'text'}) }}";
                url = url.replace("text", slCiudadUniversidad);

                $('#respuestaUniversidad').load(url);
            }
    </script>

{% endblock %}

